<!DOCTYPE html>
<title>Vue.js SPAのサンプル</title>
<style>
    /* 任意のCSSを実装 */
</style>
<div id="app">
    <nav>
        <!-- router-linkによるナビゲーション定義 -->
        <router-link to="/top">トップページ</router-link>
        <router-link to="/users">ユーザー一覧ページ</router-link>
        <router-link to="/users/new?redirect=true">新規ユーザー登録覧ページ</router-link>
        <router-link to="/login">ログイン</router-link>
        <router-link to="/logout">ログアウト</router-link>
    </nav>
    <router-view></router-view>
</div>

<!-- Vue.js本体とVue Routerの読み込み -->
<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/vue-router@3.0.1"></script>

<!-- ここから以降を書いていく -->
<!-- 必要な部分のコンポーネントのテンプレート定義 -->
<script type="text/x-template" id="user-list">
    <!-- コンポーネントで使用するテンプレートHTMLを記載。コンポーネントごとに繰り返しscriptタグで定義 -->
    <div>
        <div class="loading" v-if="loading">読み込み中...</div>
        <div v-if="error" class="error">
            {{error}}
        </div>
        <!-- usersがロードされたら各ユーザーの名前を表示 -->
        <div v-for="user in users" :key="user.id">
            <h2>{{user.name}}</h2>
        </div>
    </div>
</script>

<!-- ユーザー詳細ページのコンポーネント -->
<script type="text/x-template" id="user-detail">
    <div>
        <div class="loading" v-if="loading">読み込み中...</div>
        <div v-if="error" class="error">
            {{error}}
        </div>
        <div v-if="user">
            <h2>{{user.name}}</h2>
            <p>{{user.description}}</p>
        </div>
    </div>
</script>

<!-- ユーザー作成ページ -->
<script type="text/x-template" id="user-create">
    <div>
        <div class="sending" v-if="sending">Sending...</div>
        <div>
            <h2>新規ユーザー作成</h2>
            <div>
                <label>名前：</label>
                <input type="text" v-model="user.name">
            </div>
            <div>
                <label>説明文：</label>
                <textarea v-model="user.description"></textarea>
            </div>
            <div v-if="error" class="error">
                {{error}}
            </div>
            <div>
                <input type="button" @click="createUser" value="送信">
            </div>
        </div>
    </div>
</script>

<!-- ログインページ -->
<script type="text/x-template" id="login">
    <div>
        <h2>Login</h2>
        <p v-if="$route.query.redirect">
            ログインしてください
        </p>
        <form @submit.prevent="login">
            <label><input v-model="email" placeholder="email"></label>
            <label><input v-model="pass" placeholder="password" type="password"></label>
            <button type="submit">ログイン</button>
            <p v-if="error" class="error">ログインに失敗しました</p>
        </form>
    </div>
</script>

<!-- 任意のJS実装 -->
<script>
    var userData = [
        {
            id: 1,
            name: 'Takuya Tejima',
            description: '東南アジアで働くエンジニアです。'
        },
        {
            id: 2,
            name: 'Yohei Noda',
            description: 'アウトドア・フットサルが趣味のエンジニアです。'
        }
    ]

    // JSONを返す変数
    var getUsers = function(userId, callback){
        setTimeout(function(){
            if(userId === undefined || userId === null){
                callback(null, userData)
            }else{
                var filteredUsers = userData.filter(function(user){
                    return user.id === parseInt(userId, 10)
                })
                callback(null, filteredUsers && filteredUsers[0])
            }
        }, 1000)
    }

    // 詳細ページのコンポーネント
    var UserDetail = {
        template: '#user-detail',
        // 初期値のセット
        data: function(){
            return{
                loading:false,
                user: null,
                error: null
            }
        },
        created: function(){
            this.fetchData()
        },
        watch:{
            '$route': 'fetchData'
        },
        methods:{
            fetchData: function(){
                this.loading = true
                // this.$route.params.userIdに現在のURL上のパラメータに対応したuserIdが格納される
                getUsers(this.$route.params.userId, (function(err, user){
                    this.loading = false
                    if(err){
                        this.error = err.toString()
                    }else{
                        this.user = user
                    }
                }).bind(this))
            }
        }
    }

    // 擬似的にAPI経由で情報を更新したようにする
    // 実際のWebアプリケーションでは、ServerへPOSTリクエストを行う
    var postUser = function(params, callback){
        setTimeout(function(){
            // idは追加されるごとに自動的にincrementされていく
            params.id = userData.length + 1
            userData.push(params)
            callback(null, params)
        }, 1000)
    }

    var UserCreate = {
        template: '#user-create',
        data: function(){
            return{
                sending: false,
                user: this.defaultUser(),
                error: null
            }
        },
        created: function(){
        },
        methods: {
            defaultUser: function(){
                return{
                    name: '',
                    description: ''
                }
            },
            createUser: function(){
                if(this.user.name.trim() === '') {
                    this.error = 'Nameは必須です'
                    return
                }
                if(this.user.description.trim() === '') {
                    this.error = 'Descriptionは必須です'
                    return
                }

                postUser(this.user, (function(err, user){
                    this.sending = false
                    if(err){
                        this.error = err.toString()
                    }else{
                        this.error = null
                        this.user = this.defaultUser()
                        alert('新規ユーザーが登録されました')
                        this.$router.push('/users')
                    }
                }).bind(this))
            }
        }
    }

    // コンポーネントとルート定義からVueインスタンスの生成など
    var UserList = {
        template: '#user-list',
        data: function(){
            return{
                loading: false,
                users: function(){ return [] },
                error: null
            }
        },
        // 初期化時にデータを取得
        created: function(){
            this.fetchData()
        },
        // $routeの変更をwatchすることでルーティングが変更された時に再度データを取得
        watch:{
            '$route': 'fetchData'
        },
        methods:{
            fetchData: function(){
                this.loading = true
                // 取得したデータの結果をusersに格納する
                // Function.prototype.bindはthisのスコープを渡すために利用
                getUsers(null, (function(err, users){
                    this.loading = false
                    if(err){
                        this.error = err.toString()
                    }else{
                        this.users = users
                    }
                }).bind(this))
            }
        }
    }

    // ログイン・ログアウト
    var Login = {
        template: '#login',
        data: function(){
            return{
                email: 'vue@example.com',
                pass: '',
                error: false
            }
        },
        methods: {
            login: function(){
                Auth.login(this.email, this.pass, (function(loggedIn){
                    if(!loggedIn){
                        this.error = true
                    }else{
                        // redirectパラメータが付いている場合はそのパスに遷移
                        this.$router.replace(this.$route.query.redirect || '/')
                    }
                }).bind(this))
            }
        }
    }

    var Auth = {
        login: function(email, pass, cb){
            setTimeout(function(){
                if(email === 'vue@example.com' && pass === 'vue'){
                    // ログイン成功時はローカルストレージにtokenを保存
                    localStorage.token = Math.random().toString(36).substring(7)
                    if(cb){ cb(true) }
                }else{
                    if(cb){ cb(false) }
                }
            }, 0)
        },

        logout: function(){
            delete localStorage.token
        },

        loggedIn: function(){
            // ローカルストレージにtokenがあればログイン状態とみなす
            return !!localStorage.token
        }
    }

    var router = new VueRouter({
        routes: [
            {
                path: '/top',
                component: {
                    template: '<div>トップページです。</div>'
                }
            },
            {
                path: '/users',
                component: UserList
            },
            {
                path: '/users/new',
                component: UserCreate,
                beforeEnter: function(to, from, next){
                    // 認証されていない状態でアクセスした時はloginページに遷移
                    if(!Auth.loggedIn()){
                        next({
                            path: '/login',
                            query: { redirect: to.fullPath }
                        })
                    }else{
                        // 認証済みであればそのまま新規ユーザー作成ページへ進む
                        next()
                    }
                }
            },
            {
                path: '/users/:userId',
                component: UserDetail
            },
//            { これはルーティングされない優先順位が下
//                path: '/users/new',
//                component: UserCreate
//            },
            {
                path: '/login',
                component: Login
            },
            {
                path: '/logout',
                beforeEnter: function(to, from, next){
                    Auth.logout()
                    next('/')
                }
            }
        ]
    })

    var app = new Vue({
        router: router
    }).$mount('#app')
</script>
<!-- ここまでを以後書いていく。 -->
